<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:extractNativeLibs="false"
        android:hasCode="true"
        android:label="Telephony Country Hook"
        android:supportsRtl="true"
        android:theme="@style/Theme.TelephonyCountryHook">
        <activity
            android:name=".SettingsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".ConfigProvider"
            android:authorities="com.flashy.test.telephonycountry.config"
            android:exported="true"
            android:grantUriPermissions="false" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Scoped test hooks for country, Wi-Fi identity, scan results, and Wi-Fi IPv4." />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
    </application>
</manifest>
